* {
    /* margin: 0;
    padding: 0; */
}

body {
    /* background: #d84860; */
    /* text-align: center; */
    color: #d84860;
}

header {
    text-align: center;
}
.list {
    list-style: none;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.item {
    display: block;
    

}

.headline {

}

.bold {
    font-weight: bold;
    font-size: 1.1;
}